body {
    background-color: #f4f4f9;
    color: #333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #5a5a5a;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

input[type="text"], input[type="url"] {
    width: 80%;
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    padding: 0 10px;
}

input[type="submit"] {
    background-color: #5c5cad;
    color: white;
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

input[type="submit"]:hover {
    background-color: #494989;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    background-color: #e4e4e7;
    margin-bottom: 8px;
    border-radius: 5px;
}

li a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: #ddd;
}

